<template>
    <div class="container">
        <span>Countries:</span>
        <select id="countries" v-model="country">
            <option v-for="(country, key) in countries" :value="key">
                {{ country }}
            </option>
        </select>

        <span>States:</span>
        <select id="states" v-model="state">
            <option v-for="(state, key) in states" :value="key">
                {{ state }}
            </option>
        </select>

        <span>Cities:</span>
        <select id="country" v-model="city">
            <option v-for="(city, key) in cities" :value="key">
                {{ city }}
            </option>
        </select>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                country: null,
                state: null,
                city: null,
                countries: [],
                states: [],
                cities: []
            }
        },
        mounted() {
            axios.get('api/countries').then(({data}) => this.countries = data);
        },

        watch: {
            country() {
                axios.get(`api/states/${this.country}`)
                    .then(({data}) => this.states = data);
            },

            state() {
                axios.get(`api/cities/${this.country}/${this.state}`)
                    .then(({data}) => this.cities = data);
            }
        }
    }
</script>
